@import url("https://fonts.googleapis.com/css2?family=Play:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
}
body {
  background-color: #ffffff;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='100%25' height='100%25' %3E%3Cdefs%3E%3ClinearGradient id='a' x1='0' x2='0' y1='0' y2='1'%3E%3Cstop offset='0' stop-color='%2380F'/%3E%3Cstop offset='1' stop-color='%23f40'/%3E%3C/linearGradient%3E%3C/defs%3E%3Cpattern id='b' width='24' height='24' patternUnits='userSpaceOnUse'%3E%3Ccircle fill='%23ffffff' cx='12' cy='12' r='12'/%3E%3C/pattern%3E%3Crect width='100%25' height='100%25' fill='url(%23a)'/%3E%3Crect width='100%25' height='100%25' fill='url(%23b)' fill-opacity='0.1'/%3E%3C/svg%3E");
  background-attachment: fixed;
  font-family: "Play", sans-serif;
}
.canvas-wrapper {
  position: relative;
  width: 300px;
  height: 560px;
  margin: 0 auto;
  border: 3px solid rgb(255, 165, 0.3);
  background: rgb(255, 165, 0, 0.3);
  border-radius: 5px;
}
#score {
  width: 100%;
  padding-top: 30px;
  height: 50px;
  text-align: center;
  font-size: 30px;
  color: white;
}
#canvas {
  margin: 32px 0px 0px 31px;
  border-radius: 3px;
  border: 2px solid orange;
}
.btn {
  cursor: pointer;
  margin-top: 10px;
  margin-left: 31px;
  padding-top: -5px;
  height: 39px;
  width: 244px;
  border: 2px solid orange;
  border-radius: 3px;
  background: transparent;
  font-size: 18px;
  font-family: "Play", sans-serif;
  color: rgb(255, 255, 255, 0.7);
  transition-duration: 300ms;
  font-weight: 700;
}
.btn:hover {
  color: white;
}
footer {
  position: absolute;
  bottom: 20px;
  width: 100%;
  color: rgb(255, 255, 255, 0.7);
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  /* border: 1px solid white;*/
}
footer a {
  text-decoration: none;
  color: rgba(255, 255, 255, 0.7);
}
footer a:hover {
  color: rgb(255, 255, 255);
}
#instructions {
  display: none;
  position: absolute;
  left: 43px;
  width: 220px;
  height: 300px;
  top: 50px;
  font-weight: 400;
  font-size: 15px;
  color: rgba(255, 255, 255, 0.7);
  /*border: 1px solid white;*/
}
#instructions p {
  margin-bottom: 15px;
}
@media (min-height: 0px) and (max-height: 730px) {
  footer {
    display: none !important;
  }
}
.tooltiptext {
  width: 200px;
  background-color: rgb(0, 0, 0, 0.4);
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  top: 550px;
  left: 50px;
}
#message {
  width: 100%;
  margin-top: 30px;
  padding: 30px;
  text-align: center;
  font-size: 35px;
  color: white;
  font-family: "Play", sans-serif;
}
